# Mac OS X
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# 项目特定忽略
crash/*
!crash/.gitkeep
dsym/*
!dsym/.gitkeep
ips/*
!ips/.gitkeep
log/*
!log/.gitkeep
